auto/
samples/
autodefs.*
!autodefs.nw
!autodefs.bbl
auto/stripmodeline.el
indexsymbols
inlinecomments
multilinecomments
show-diff
show-indexsymbols
show-markup
simple-diff
simple-indexsymbols
simple-markup
stripmodeline
*.brf
*.out
*.sty
*.tex
*.toc
*.1
*.7
/README.html
